<%= form_with(model: primary_name) do |form| %>
  <% if primary_name.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(primary_name.errors.count, "error") %> prohibited this primary_name from being saved:</h2>

      <ul>
        <% primary_name.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
