<p style="color: green"><%= notice %></p>

<% content_for :title, "Primary names" %>

<h1>Primary names</h1>

<div id="primary_names">
  <% @primary_names.each do |primary_name| %>
    <%= render primary_name %>
    <p>
      <%= link_to "Show this primary name", primary_name %>
    </p>
  <% end %>
</div>

<%= link_to "New primary name", new_primary_name_path %>

<hr>

<h1>Elm hello</h1>

<div id="elm">Loading Elm, please wait...</div>


<%
js_filename = 'hello.js'
js_file = File.join(Rails.root, 'public', js_filename)
js_mtime =File.mtime(js_file).to_i

flag_data = {nothing: ''}
%>
<script src="<%= "/#{js_filename}?#{js_mtime}" %>"></script>
<script>
 var app = Elm.Hello.init({ node: document.getElementById('elm'),
                            flags: <%= raw JSON.generate flag_data %>
 })
 // you can use ports and stuff here
</script>
