<p style="color: green"><%= notice %></p>

<%= render @primary_name %>

<div>
  <%= link_to "Edit this primary name", edit_primary_name_path(@primary_name) %> |
  <%= link_to "Back to primary names", primary_names_path %>

  <%= button_to "Destroy this primary name", @primary_name, method: :delete %>
</div>
